@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One');

/**
* General setup for layout.
*/
html {
    overflow-y: scroll;
    background-color: #424242;
}

body {
    margin: 0;
    background-color: #fff;
    word-wrap: break-word;
    font-family: "Open Sans";
}

h1,
h2 {
    font-family: "Poiret One";
}

.outer-wrap {
    margin: 0 auto;
    background-color: #fff;
}

.inner-wrap {
    margin: 0 auto;
    max-width: 90%;
}

img {
    max-width: 100%;
}

a {
    transition: 0.5s;
    color: #b57d86;
}

a:link {
    color: #b57d86;
}

a:visited {
    color: #b57d86;
}

a:hover {
    color: #cca39d;
}



/**
* Header
*/
.outer-wrap-header {
    max-width: 100%;
}

.inner-wrap-header {
    max-width: 100%;
}



/**
* Navbar
*/

/**
*Responsive navbar
*/
.rm-default.rm-desktop .selected,
.rm-default.rm-desktop .selected-parent,
.rm-default.rm-desktop .selected.selected-parent {
    color: #cca39d;
}

.rm-default.rm-mobile .selected,
.rm-default.rm-mobile .selected-parent,
.rm-default.rm-mobile .selected.selected-parent,
.rm-default.rm-mobile.rm-clicked .selected,
.rm-default.rm-mobile.rm-clicked .selected-parent,
.rm-default.rm-mobile.rm-clicked .selected.selected-parent {
    background-color: #333;
}


.outer-wrap-navbar {
    width: 100%;
    background-color: #535353;
    color: #fff;
    position: fixed;
    opacity: 0.9;
}

.outer-wrap-navbar a {
    color: #fff;
    padding: 0 0.5em;
    text-decoration: none;
}

.outer-wrap-navbar a:visited {
    color: #fff;
}

.outer-wrap-navbar a:hover {
    color: #b57d86;
}

.outer-wrap-navbar a:active {
    color: #cca39d;
}

.inner-wrap-navbar {
    max-width: 100%;
    padding: 0 1em;
}

.wrap-navbar {
    display: flex;
}

.navbar {
    display: flex;
}

.navbar img {
    padding-right: 3em;
}

.navbar a {
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
}



/**
* Main
*/
.outer-wrap-main {
    margin-bottom: 2em;
}

.wrap-main h1 {
    border-bottom: 1px solid #999;
}

.wrap-main h2 {
    border-bottom: 1px solid #ccc;
}

blockquote {
    font-style: italic;
    color: grey;
}

.figure {
    float: right;
    clear: both;
}

/**
* For guess the number
*/
.hint {
    position: relative;
    display: inline-block;
    white-space: nowrap;
    width: 12em;
    overflow: hidden;
}

.hint:hover {
    text-overflow: inherit;
    overflow: visible;
}

/**
* For dice game.
* CSS sprite for a dice with six faces.
*/
.dice-sprite {
    display: inline-block;
    padding: 0;
    margin: 0 4px 0 0;
    width: 32px;
    height: 32px;
    background: url("../img/dice-faces.jpg") no-repeat;
}

.dice-sprite.dice-1 { background-position: -160px 0; }
.dice-sprite.dice-2 { background-position: -128px 0; }
.dice-sprite.dice-3 { background-position: -96px 0; }
.dice-sprite.dice-4 { background-position: -64px 0; }
.dice-sprite.dice-5 { background-position: -32px 0; }
.dice-sprite.dice-6 { background-position: 0 0; }

code {
    font-size: 130%;
    background-color: #f1f1f1;
}

input {
    font-family: "Open Sans";
}

div.dice-container {
    display: flex;
    justify-content: left;
}

div.player {
    display: flex;
    flex-direction: column;
    width: 50%;
}

div.computer {
    display: flex;
    flex-direction: column;
    width: 50%;
}

div.winner {
    font-weight: bold;
    flex-direction: row;
    width: 100%;
}

.winner h2 {
    font-family: "Open Sans";
    border-bottom: none;
}

.reset:link {
    font-size: 80%;
    text-decoration: none;
    padding: 0.5em 1em;
    color: #fff;
    background-color: darkred;
    border: 2px solid darkred;
}

.reset:visited {
    color: #fff;
    background-color: darkred;
    border: 2px solid darkred;
}

.reset:hover {
    color: darkred;
    background-color: #fff;
    border: 2px solid darkred;
}

input[type=submit] {
    padding: 0.5em 1em;
    transition: 0.5s;
    color: #fff;
    background-color: #063;
    border: 2px solid #063;
}

input[type=submit]:hover {
    color: #063;
    background-color: #fff;
    border: 2px solid #063;
    cursor: pointer;
}



/**
* Footer
*/
.outer-wrap-footer {
    max-width: 100%;
    background-color: #4f2f34;
    color: #fff;
    padding-bottom: 1.5em;
}

.wrap-footer {
    display: flex;
    text-align: center;
}

.footer-element {
    width: 25%;
}

.footer-element h3 {
    font-family: "Poiret One";
}

.footer-element p {
    color: white;
    padding-bottom: 0.5em;
}

.footer-element a:link {
    color: white;
}

.footer-element a:visited {
    color: white;
}

.footer-element a:hover {
    color: #b57d86;
}

.footer-element i {
    font-size: 2em;
}

.signatur {
    margin: auto;
}



/**
* Responsive
*/
@media screen and (max-width: 970px) {
    .header-logo {
        display: none;
    }
}
