@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One');

/**
 * General setup for layout.
 */
html {
    overflow-y: scroll;
    background-color: #424242;
}

body {
    margin: 0;
    background-color: #fff;
    word-wrap: break-word;
    font-family: "Open Sans";
}

h1,
h2 {
    font-family: "Poiret One";
}

.outer-wrap {
    margin: 0 auto;
    background-color: #fff;
}

.inner-wrap {
    margin: 0 auto;
    max-width: 90%;
}

img {
    max-width: 100%;
}

a {
    transition: 0.5s;
    color: #b57d86;
}

a:link {
    color: #b57d86;
}

a:visited {
    color: #b57d86;
}

a:hover {
    color: #cca39d;
}



/**
 * Header
 */
.outer-wrap-header {
    max-width: 100%;
}

.inner-wrap-header {
    max-width: 100%;
}



/**
 * Navbar
 */
.outer-wrap-navbar {
    width: 100%;
    background-color: #535353;
    color: #fff;
    position: fixed;
    opacity: 0.9;
}

.outer-wrap-navbar a {
    color: #fff;
    padding: 0 0.5em;
    text-decoration: none;
}

.outer-wrap-navbar a:visited {
    color: #fff;
}

.outer-wrap-navbar a:hover {
    color: #cca39d;
}

.outer-wrap-navbar a:active {
    color: #b57d86;
}

.inner-wrap-navbar {
    max-width: 100%;
    padding: 0 1em;
}

.navbar {
    display: flex;
}

.navbar img {
    padding-right: 3em;
}

.navbar a {
    text-transform: uppercase;
    margin-top: auto;
    margin-bottom: auto;
}



/**
 * Main
 */
.outer-wrap-main {
    margin-bottom: 2em;
}

.wrap-main h1 {
    border-bottom: 1px solid #999;
}

.wrap-main h2 {
    border-bottom: 1px solid #ccc;
}

blockquote {
    font-style: italic;
    color: grey;
}

.figure {
    float: right;
    clear: both;
}


/**
 * Footer
 */
.outer-wrap-footer {
    max-width: 100%;
    background-color: #4f2f34;
    color: #fff;
    padding-bottom: 1.5em;
}

.wrap-footer {
    display: flex;
    text-align: center;
}

.footer-element {
    width: 25%;
}

.footer-element h3 {
    font-family: "Poiret One";
}

.footer-element p {
    color: white;
    padding-bottom: 0.5em;
}

.footer-element a:link {
    color: white;
}

.footer-element a:visited {
    color: white;
}

.footer-element a:hover {
    color: #b57d86;
}

.footer-element i {
    font-size: 2em;
}

.signatur {
    margin: auto;
}



/**
 * Responsive
 */
@media screen and (max-width: 970px) {
    .header-logo {
        display: none;
    }
}
